* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

ion-icon {
  font-size: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 48px;
}

.wrapper > div {
  text-align: center;
}

.iam {
  grid-column: 2;
  grid-row: 2;
}

.webdev {
  grid-column: 2;
  grid-row: 3;
}

.photo {
  grid-column: 2;
  grid-row: 4;
}

.threesixty {
  grid-column: 2;
  grid-row: 5;
}

.iconset {
  display: none;
}

footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.up {
    max-width: 600px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Archivo Black;
}
