body {
    
}
header {
    background-image: url(img/nathan-mcbride-229639-unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.up {
    max-width: 600px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Archivo Black;
}

.btn-info {
    background: rgba(63, 63, 63, 0.72);
    border: 0px;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: roboto;
    color: rgb(252, 251, 255);*/
}

.button {
    border: none;    
}
